@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

html, body {
    font-family: 'Libre Baskerville', serif;
    margin: 24px auto;
    position: relative;
    z-index: 1000;
    max-width: 640px;
    min-width: 320px;
    }

img {
    width: 100%;
    height: auto;
    }

header li {
      display: inline;
      padding: 2em;
      text-align: center;
      background-color: black;
    }

header h1 {
  font-size: 200%;
}   

.main {
      padding: 48px 48px 48px 48px;
      background-color: white;
      box-shadow: -12px 12px 24px 0px lightgrey;
  }

a:hover, a:focus, a:active { 
  text-decoration: none; 
  color: red;
}