@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

html, body {
    font-family: 'Libre Baskerville', serif;
    margin: 0px auto;
    position: relative;
    z-index: 1000;
    max-width: 640px;
    min-width: 320px
    }

img {
    width: 100%;
    height: auto;
    }

nav {
  background-color: black;
  padding: 1px;
}    

nav li a:link {
  color: white;
}

nav li a:visited {
  color: lightskyblue;
}

nav li {
      margin: 0;
      padding: 0;
      display: inline-flex;
      flex-wrap: nowrap;
      flex-basis: 25%;
      justify-content: space-evenly;
      list-style: none;
    }

header h1 {
  font-size: 300%;
  text-align: center;
}   

.main {
      padding: 48px 48px 48px 48px;
      background-color: white;
      box-shadow: -12px 12px 24px 0px lightgrey;
  }

a:link {
  text-decoration: none;
}  

a:hover { 
  text-decoration: none; 
  color: red;
}